<div class="container">
  <div class="card">
    <form name="sellerForm">
      <div class="card-content">

        <div class="row">
          <div class="input-field col s10">
            <input id="name" placeholder="Ex: Mercado livre, Elo7, venda direta" ng-required="true" type="text" class="validate" ng-model="seller.name">
            <label for="name" class="active">Nome</label>
          </div>
        
          <div class="input-field col s2">
            <input id="costvalue" placeholder="Percentual" ng-required="true" type="number" step="0.01" class="validate" ng-model="seller.percentage">
            <label for="costvalue" class="active">% de comissão</label>
          </div>
        </div>

        <div class="row">
          <button class="waves-effect waves-light btn" ng-disabled="sellerForm.$invalid" ng-click="save(seller)">Salvar</button>
          <a class="waves-effect waves-light btn red" href="main#/seller">Cancelar</a>
        </div>

      </div>
    </form>
  </div>
</div>