<div class="container">
	<div class="card">
      <div class="card-content" >
        <div class="row">
          <a href="main#/seller/new" class="btn btn-green">Novo</a>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="search" type="text" ng-model="search">
            <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
          </div>
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="name">Nome</th>
              <th data-field="percentage">% de comissão</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="seller in sellers | filter:search">
              <td><a href="main#/seller/edit/{{::seller.id}}" ng-bind="::seller.name" ></a></td>
              <td ng-bind="::seller.percentage | currency : '' : 2"></td>
            </tr>
          </tbody>
        </table>       
      </div>
    </div>
</div>