<div class="container">
  <div class="row" >
    <div class="col s12 m6">
      <h4 class="header col s12 light center">Orçamentos em aberto</h4>
      <table id="estimates-summary" class="striped">
        <thead>
          <tr>
            <th data-field="id">#</th>
            <th data-field="customer">Cliente</th>
            <th data-field="totalValue">Valor Total</th>
            <th class="hide-on-small-only" data-field="status">Entrega</th>
            <th class="hide-on-small-only" data-field="status">Parcelas</th>
            <th data-field="action">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sale in sales | filter:{status: searchStatus} |filter:search">
            <td><a href="main#/sale/edit/{{::sale.id}}" ng-bind="::sale.id"></a></td>
            <td ng-bind="::sale.customer.name"></td>
            <td class="hide-on-small-only" ng-bind="::sale.totalValue | currency" ></td>
            <td class="hide-on-small-only" ng-bind="::sale.deliveryDate | date: 'dd/MM/yyyy'"></td>
            <td class="hide-on-small-only" ng-bind="::sale.installments"></td>
            <td>
             <a class="btn-floating green tooltipped" data-tooltip="Aprovar orçamento" ng-click="approve(sale)" ><i class="material-icons">done</i></a>
             <a class="btn-floating red tooltipped" data-tooltip="Cancelar orçamento" ng-click="cancelSale(sale)"><i class="material-icons">close</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s12 m6">
      <h4 class="header col s12 light center">Recebimentos em aberto</h4>
      <table id="payment-summary" class="striped">
        <thead>
          <tr>
            <th data-field="customer">Cliente</th>
            <th data-field="totalValue">Valor Total</th>
            <th data-field="status">Vencimento</th>
            <th data-field="action">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="payment in payments">
            <td ng-bind="::payment.sale.customer.name"></td>
            <td ng-bind="::payment.totalValue | currency" ></td>
            <td ng-bind="::payment.dueDate | date: 'dd/MM/yyyy' " ></td>
            <td>
             <a class="btn-floating btn-small green tooltipped" data-tooltip="Receber pagamento" ng-click="pay(payment)" ><i class="material-icons">done</i></a>
             <a class="btn-floating btn-small red tooltipped" data-tooltip="Cancelar recebimento" ng-click="cancelPayment(payment)"><i class="material-icons">close</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>