<div class="container">
  <div class="card"   >
    <form name="productForm">
      <div class="card-content">
       <!-- Modal Trigger -->
        
        <div class="input-field col s12">
            <table class="striped">
              <thead>
                <tr>
                  <th data-field="description">Material</th>
                  <th class="hide-on-small-only"  data-field="description">R$/un</th>
                  <th data-field="divide">Qtde por:</th>
                  <th data-field="quantity">Qtde:</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stuff in selectedStuffs">
                  <td>
                    <a class="btn-flat" ng-click="remove(stuff)"><i class="tiny red-text material-icons">clear</i></a>
                    <span ng-bind="::stuff.description"></span>
                  </td>
                  <td class="hide-on-small-only" ng-bind="::stuff.unitPrice | currency"></td>
                  <td>
                      <input name="group{{::stuff.id}}}" ng-model="stuff.isYield" ng-value="false" ng-change="calculateQuantity(stuff);calculateSuggestedPrice();" type="radio" id="test{{::stuff.id}}}_1" />
                      <label for="test{{::stuff.id}}}_1">Qtde. usada</label>
                      <input name="group{{::stuff.id}}}" ng-model="stuff.isYield" ng-value="true" ng-change="calculateQuantity(stuff);calculateSuggestedPrice();"  type="radio" id="test{{::stuff.id}}}_2" />
                      <label for="test{{::stuff.id}}}_2">Rendimento</label>
                  </td>
                  <td>
                    <input type="number" step="0.01" ng-model="stuff.filledQuantity" ng-change="calculateQuantity(stuff);calculateSuggestedPrice();"/>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 center">
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Materiais</a>  
            <a class="modal-trigger waves-effect waves-light btn" href="#modalDepreciation">Equipamentos</a>  
          </div>
        </div>
        <div class="col s12 m12">
          <div>
            
            <strong>Sugestão:</strong><span> Preço: <span ng-bind="precoSugerido | currency" ></span> 
                   - Margem <span ng-bind="margin | currency:'% ' : 2"></span>
            </span>
            <a class="modal-trigger" href="#modal-costs">
            Ver composição do preço
            </a>
            <!-- ng-show="precoSugerido > 0 && !(product.price && product.price >= precoSugerido)" -->
            <div class="switch">
            <label>
              Não aplicar
              <input type="checkbox" ng-model="apply" ng-click="applyPrice()">
              <span class="lever"></span>
              Aplicar
            </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="input-field col s12 m6">
            <input  id="description"
                    ng-required="true" 
                    placeholder=""
                    type="text" 
                    class="validate" 
                    ng-model="product.description">
            <label for="description" class="active">Descrição</label>
          </div>
        
          <div class="input-field col s6 m2">
            <input id="time" placeholder="" ng-required="true" type="text"  class="validate" ng-model="product.time" ng-change=" calculateSuggestedPrice(); calculateMargin();">
            <label for="time" class="active">Tempo de produção</label>
          </div>

          <div class="input-field col s6 m2">
            <input id="percentage" placeholder="" ng-required="true" type="number" step="0.01" class="validate" ng-model="product.percentage" ng-blur="calculateSuggestedPrice(); calculatePrice();">
            <label for="percentage" class="active">% lucro</label>
          </div>

          <div class="input-field col s6 m2">
            <input id="price"  ng-required="true" type="number" step="0.01" class="validate" ng-model="product.price" ng-change="calculateMargin();" >
            <label for="price" class="active">Valor venda (un)</label>
          </div>
        </div>
		
        <div class="row">
          <button class="waves-effect waves-light btn" ng-disabled="productForm.$invalid" ng-click="save(product)">Salvar</button>
          <a class="waves-effect waves-light btn red" href="main#/product">Cancelar</a>
        </div>

      </div>
      </form>
    </div>
  </div>

</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Selecione os itens desse produto</h5>
    <div class="input-field col s12 m6">
      <input id="search" type="text" ng-model="searchStuff">
      <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="divide"></th>
          <th data-field="description">Material</th>
          <th data-field="description">R$/un</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stuff in stuffs | filter:searchStuff">
          <td>
            <input type="checkbox" class="filled-in" id="filled-in-box{{::stuff.id}}" ng-model="stuff.added" ng-click="checkUncheck(stuff)"/>
            <label for="filled-in-box{{::stuff.id}}"></label>
          </td>
          <td ng-bind="::stuff.description"></td>
          <td ng-bind="::stuff.unitPrice | currency"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Concluir</a>
  </div>
</div>


<!-- Modal Structure -->
<div id="modalDepreciation" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Selecione os equipamentos necessários para fabricação</h5>
    <div class="input-field col s12 m6">
      <input id="search" type="text" ng-model="searchDepreciation">
      <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="divide"></th>
          <th data-field="description">Equipamento</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cost in depreciationCosts | filter:searchDepreciation">
          <td>
            <input type="checkbox" class="filled-in" id="filled-in-dep-box{{::cost.id}}" ng-model="cost.checked" ng-click="checkUncheckDepreciation(cost)"/>
            <label for="filled-in-dep-box{{::cost.id}}"></label>
          </td>
          <td ng-bind="::cost.description"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Concluir</a>
  </div>
</div>

<div id="modal-costs" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Composição do preço</h5>
    <table class="striped">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor líquido</th>
          <th>Valor com percentual</th>
          <th>Lucro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Custos Fixos</td>
          <td ng-bind="product.fixedCost | currency"></td>
          <td ng-bind="product.fixedCost | currency"></td>
          <td ng-bind="0 | currency"></td>
        </tr>
        <tr>
          <td>Equipamentos</td>
          <td ng-bind="product.depreciationCost | currency"></td>
          <td ng-bind="product.depreciationCost | currency"></td>
          <td ng-bind="0 | currency"></td>
        </tr>
        <tr>
          <td>Mão de Obra</td>
          <td ng-bind="product.workCost | currency"></td>
          <td ng-bind="product.workCost | currency"></td>
          <td ng-bind="0 | currency"></td>
        </tr>
        <tr>
          <td>Materiais</td>
          <td ng-bind="product.compositionCost | currency"></td>
          <td ng-bind="(((product.compositionCost * margin)/100) + product.compositionCost) | currency"></td>
          <td ng-bind="((product.compositionCost * margin)/100) | currency"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Concluir</a>
  </div>
</div>


 <script type="text/javascript">
$(function () {
  $("#description").focus();
	$('.modal-trigger').leanModal();
  $('#time').mask("99:99:99");
})
</script>