<div class="container">
	<div class="card">
      <div class="card-content" >
        <div class="row">
          <a href="main#/product/new" class="btn btn-green">Novo</a>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="search" type="text" ng-model="search">
            <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
          </div>
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="description">Descrição</th>
              <th data-field="unitPrice">Preço</th>
              <th class="hide-on-small-only" data-field="unitPrice">% de lucro</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products | filter:search">
              <td><a href="main#/product/edit/{{::product.id}}" ng-bind="::product.description"></a></td>
              <td ng-bind="::product.price | currency"></td>
              <td class="hide-on-small-only" ng-bind="::product.percentage | currency : '' : 2 "></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>