@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Asap:400,700|Roboto:400,900);

body {
	margin: 0 0;
}

.navbar {
	height: 75px;
    margin: auto;
    padding-top: 10px;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

#logo {
	margin-left: 20%;
}

.navbar-right {
	margin-right: 10%;
}

.navbar-top li {
	transition: background-color 0.5s;
	
}

.navbar-top li:hover {
	background-color: #65B89C;
	border-bottom: solid #4aa083 5px;

}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent;
}

.background-header {
	margin: 0 0;
	background-image: url('../img/bg3.png');
	height: 550px;
	border-bottom: solid rgba(0, 0, 0, 0.6) 3px;
}

.about-header {
	font-family: 'Roboto', sans-serif;
  	padding: 120px 0 0 80px;
  	color: #ffffff;
}

.about-header h1 {
	font-size: 3em;
}

.about-header h2 {
	font-size: 1.5em;
}

.about-header p {
	width: 80%;
	font-family: 'Lato', sans-serif;
}

.btn-register {
	font-size: 18px;
	font-family: 'Asap', sans-serif;
	color: #ffffff;
	font-weight: bolder;
	width: 200px;
	padding: 10px;
	background-color: #65B89C;
}

.btn-register:hover {
	color: #ffffff;
	background-color: #4aa083; 
}

.advantages {
	margin-top: 50px;
	text-align: center;
}

.advantages i{
	font-size: 100px;
	color: #4aa083;
}

.advantages-title {
	margin-top: 8px;
	font-size: 22px;
	font-weight: bolder;
	color: #616161;
}

.explanation {
	margin-top: 50px;
	padding: 30px;
	background-color: #65B89C;
	color: #ffffff;
	border-bottom: solid #4AA083 10px;
	border-top: solid #4AA083 10px;
}

.explanation-text{
	margin-left: 50%;
    transform: translateX(-50%);
}

.btn-explanation {
	color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    background-color: #F44336;
    padding: 10px;
    border-radius: 5px;
    margin-top: 32px;
}

.btn-explanation:hover {
	color: #FFFFFF;
	background-color: #f32c1e;
}

.contact { 
	margin-top: 50px;
 }

 .contact-title {
 	font-size: 40px;
 	font-weight: bolder;
 	font-family: 'Roboto', sans-serif;
 	text-align: center;
 }

 .contact-text {
 	font-size: 24px;
 	font-family: 'Lato', sans-serif;
 	text-align: center;
 }

 footer{
 	color: #ffffff;
 	margin-top: 50px;
	background-color: #343b41;
	height: 250px;
 }


.footer-artesao {
	padding: 90px 0 0 0;
	font-size:  24px;
	text-align: center;
}

 .footer-list>li>a {
	color:#606d76;
	font-size: 18px;
	padding: 100px 30px 0 30px; 
 }

 .footer-list>li>a:hover {
 	background-color: transparent;
 	color: #ffffff;
 }

.direitos {
	margin-top: 32px;
	color: #606d76;
	font-style: italic;
}
