<div class=container><h5 class=page-title>Configurações</h5><div class=card><form><div class=card-content><div class=row><div class="col s2 right"><a id=preferences-help style="cursor: hand"><i class="material-icons right text-indigo">help</i></a></div><div class=section><h7>As configurações abaixo são necessárias para todos os cálculos do sistema. Preencha todos os campos conforme sua preferência.</h7></div></div><div class="row input-field"><span>Logotipo</span><br><img src={{preferences.logo}}></div><div class="row input-field"><div class="col s6"><input type=file file-model=myFile></div><div class="col s6"><button ng-click=uploadFile() class="btn green">Enviar</button></div></div><div class=row><div class="input-field col s12 m3"><input id=yeld placeholder="percentual de lucro mínimo sobre os produtos" type=number step=0.01 class=validate ng-required=true ng-model=preferences.margin> <label for=yeld class=active>% de lucro mínimo</label></div><div class="input-field col s12 m3"><input id=profit placeholder="Salário líquido pretendido" type=number step=0.01 class=validate ng-required=true ng-model=preferences.profit> <label for=profit class=active>Salário Base</label></div><div class="input-field col s12 m3"><input id=hours placeholder="Quantidade de horas de trabalho no mês ex: 22 dias * 8 horas = 176" type=number step=0.01 class=validate ng-required=true ng-model=preferences.hours> <label for=hours class=active>Horas a serem trabalhadas no mês</label></div><div class="input-field col s12 m3"><h7 id=profit-hour>Valor/hora:<br><span ng-bind="preferences.profit/preferences.hours | currency"></span></h7></div></div><div class=row><div class="input-field col s12 m4"><h7 id=profit-hour>Data de expiração da Assinatura:<br><span ng-bind=getEndDate()></span></h7></div><div class="input-field col s12 m4"><h7 id=profit-hour>Status da Assinatura:<br><span ng-bind=getSignatureStatus()></span></h7></div><div class="input-field col s12 m4"><div class=progress ng-show=loading><div class=indeterminate></div></div></div></div><div class=row><button class="waves-effect waves-light btn" ng-disabled=userForm.$invalid ng-click=save(preferences)>Salvar</button></div></div></form></div></div><script type=text/javascript>
    $(document).ready(function(){
      var introjs = introJs();
      introjs.setOptions({
        "showProgress":true,
        "nextLabel": 'Próximo &rarr;',
        "prevLabel": '&larr; Anterior',
        "skipLabel": 'Fechar',
        "doneLabel": 'Pronto'
      });
      var steps = [
          {
            element:"#yeld",
            intro: "Aqui você informa o percentual mínimo lucro que você estima obter em cada produto."
          },
          {
            element:"#profit",
            intro: "Esse será o valor referência para o sistema adicionar o valor da mão de obra de acordo com o tempo gasto na montagem de cada produto"
          },
          {
            element: "#hours",
            intro: "Esse campo refere-se à quantidade de horas total estimada a serem trabalhadas no mês. Para informar esse campo é simples: Multiplique a quantidade de horas por dia que você irá se dedicar à quantidade de dias que você pretende trabalhar. Por ex. Trabalharei 8 horas durante 22 dias ao mês. Nesse caso a quantidade de horas é 176." ,
          },
          {
            element: "#profit-hour",
            intro: "Esse é um campo apenas informativo que apresenta o seu valor hora, com base em seu salário e horas dedicado ao trabalho." 
          },
          {
            intro: "<h3 class='center'>Agora preenha os valores conforme sua preferência e salve</h3><p>Com essas inormações o sistema já consegue te ajudar a calcular os valores de seu produto</p>"
          }
        ];
      introjs.setOptions({
        "steps": steps
      });
      $("#preferences-help").on("click", function() {
        introjs.start();
      });
  });
  </script>