<div class="container">
	<div class="card" id="cardRegister" >

      <form name="stuffForm">
      <div class="card-content">

        <div class="row">
          <div class="input-field col s12 m8">
            <input  id="description" placeholder="Ex: Papel Glossy, Tubete, etc..." 
                    ng-required="true" 
                    type="text" 
                    class="validate" 
                    ng-model="stuff.description">
            <label for="description" class="active">Descrição</label>
          </div>
     
          <div class="input-field col s12 m4">
            <input id="unitPrice" placeholder="Valor unitário" ng-required="true" type="number" step="0.01" class="validate" ng-model="stuff.unitPrice">
            <label for="unitPrice" class="active">Valor unitário</label>
          </div>
        
          <!--div class="input-field col s2">
            <input id="stock" placeholder="Quantidade" ng-focus="(new || editing) && stuffForm.$pristine" ng-required="true" type="number" step="0.01" class="validate" ng-model="stuff.stock">
            <label for="stock" data-error="wrong" data-success="right" class="active">Quantidade em estoque</label>
          </div-->
        </div>

        <div class="row">
          <button class="waves-effect waves-light btn" ng-disabled="stuffForm.$invalid" ng-click="save(stuff)">Salvar</button>
          <a class="waves-effect waves-light btn red" href="main#/stuffs">Cancelar</a>
        </div>

      </div>
      </form>

    </div>
</div>
<script type="text/javascript">
$(function () {
  $("#description").focus();
});
</script>