<div class="container">
	<div class="card">
      <div class="card-content" >
      	<div class="row">
	    	<div class="input-field col s12 m12">
	          <a href="main#/stuffs/new" class="btn btn-small green truncate">novo</a>
	        </div>
	  	</div>
        <div class="row">
          <div class="input-field col s12">
            <input id="search" type="text" ng-model="search">
            <label for="search" class="active">Procurar</label>
          </div>
        </div>
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th data-field="description">Nome</th>
              <th data-field="unitPrice">Valor unitário</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="stuff in stuffs | filter:search">
              <td><a href="main#/stuffs/edit/{{::stuff.id }}" ng-bind="::stuff.description"></a></td>
              <td ng-bind="::stuff.unitPrice | currency"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
