<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head %>
  <title>Sr.Artesão</title>
</head>
<body>
  <header>
    <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a  href="/" id="logo-container" class="brand-logo">Sr. Artesão</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>

  <main>
    <div class="parallax-container">
      <div class="row center-align">
          <form action="/update-password" method="post">
          <div class="col s0 m3">
          &nbsp;
          </div>
          <div class="col s12 m6">
            <div class="card" >
              <div class="card-content">
                <div class="card-title"><h2 class="header">Atualizar senha</h2></div>
                <% if (typeof errorMessage != 'undefined') { %>
                <div class="row">
                  <div class="center red-text text-darken-2">
                  <%= errorMessage %>
                  </div>
                </div>
                <% } %>

                <% if (typeof successMessage != 'undefined') { %>
                <div class="row">
                  <div class="center green-text text-darken-2">
                  <%= successMessage %>
                  </div>
                </div>
                <% } %>
                <input name="token" type="hidden" value="<%= token %>">
                <div class="row">
                  <div class="left-align input-field col s12">
                    <input id="password" name="password" type="password">
                    <label for="password" class="active">Nova senha</label>
                  </div>
                </div>

                <div class="row">
                  <div class="left-align input-field col s12">
                    <input id="confirmPassword" name="confirmPassword" type="password">
                    <label for="confirmPassword" class="active">Confirme a senha</label>
                  </div>
                </div>

                <div class="row">
                  <button type="submit" class="waves-effect waves-light btn btn-large">Salvar</button>
                </div>

              </div>
            </div>
          </div>
          <div class="col s0 m3">
          &nbsp;
          </div>

          </form>
    </div>
    <div class="parallax">
        <img src="images/background-4.jpg" />
      </div>
  </div>
  </main>

 <base href="/" />
  <script src="js/js.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
    })
  </script>
  </body>
</html>
