<title>Sistema para artesanato, decoração e profissionais autônomos | Sr. Artesão</title>
<meta name="description" content="Sistema para artesanato, decoração e profissionais autônomos"/>
<meta property="og:description" content="Sistema para artesanato, decoração e profissionais autônomos"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="robots" content="all"/>
<meta name="googlebot" content="index, follow"/>
<meta name="DC.Creator" content="Sr. Artesão"/>
<meta name="subject" content="Retail">
<meta name="Language" content="Portuguese">
<meta name="copyright" content="Sistema para Artesanato© 2016"/>
<meta name="Designer" content="Sr. Artesão">
<meta name="Publisher" content="Sistema para artesanato, decoração e profissionais autônomos, Sr. Artesão">
<meta name="Revisit-After" content="1 day">
<meta name="distribution" content="Global">
<meta name="city" content="São Paulo">
<meta name="country" content="Brazil">
<meta http-equiv="content-language" content="pt-BR"/>
<meta http-equiv="content-style-type" content="text/css"/>
<meta name="abstract" content="Loja Virtual"/>
<meta name="rating" content="General"/>
<meta name="classification" content="Online Store"/>

<meta property="og:title" content="Sistema para artesanato, decoração e profissionais autônomos | Sr. Artesão"/>
<meta property="og:url" content="http://www.srartesao.com.br"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Sr. Artesão - Sistema para artesanato, decoração e profissionais autônomos"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<link rel="shortcut icon" href="images/favicon.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/style-site.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script async="true">
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:233248,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>