<div class="navbar-fixed">  
  <nav>
    <div class="nav-wrappe container">
      <ul class="left hide-on-med-and-down">
        <li id="home-menu-item"><a href="main#/dashboard" title="Página inicial"><i class="material-icons right">home</i></a></li>
        <li id="new-sale-menu">
          <a href="main#/sale/new" title="Cria um novo orçamento">
            Orçamento
          </a>
        </li>
        <li id="customers-menu">
          <a id="new-sale-menu" href="main#/customer" title="Acessa a listagem de clientes">
            Clientes
          </a>
        </li>
        <li id="sales-menu">
          <a  class="dropdown-button" href="#!" data-activates="vendas" title="Cadasntros relacionados à vendas">
            Vendas<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li id="costs-menu">
          <a style="width: 122px;" class="dropdown-button" href="#!" data-activates="custos" title="Cadastros relacionados à custos">
            Custos<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li id="product-menu">
          <a  class="dropdown-button" href="#!" data-activates="produtos" title="Cadastros relacionados à produtos">
            Produtos<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      
      <ul class="right hide-on-med-and-down">
        <li>
          <a id="menu-help"><i class="material-icons text-indigo">help</i></a>
        </li>
        <li>
          <a href="main#/preferences" alt="Configurações" title="Configurações">
            <i class="material-icons right">settings</i>
          </a>
        </li>
        <li>
        <a href="/logout" alt="Sair" title="Sair">
            <i class="material-icons right">power_settings_new</i>
        </a>
        </li>
      </ul>
      
    <a href="#" data-activates="menu"  class="menu-trigger button-collapse hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
<ul id="vendas" class="dropdown-content">
  <li id="sale-menu"><a href="main#/sale">Pedidos</a></li>
  <li class="divider"></li>
  <li id="seller-menu"><a href="main#/seller">Intermediários</a></li>
</ul>

<ul id="produtos" class="dropdown-content">
  <li id="product-menu"><a href="main#/product">Produtos</a></li>
  <li id="stuff-menu"><a href="main#/stuffs">Materiais</a></li>
</ul>

<ul id="custos" class="dropdown-content">
  <li id="fixed-costs-menu"><a href="main#/fixed-costs">Fixos</a></li>
  <li id="depreciation-costs-menu"><a href="main#/depreciation-costs">Equipamentos</a></li>
</ul>

<ul class="side-nav" id="menu">
  <!-- li id="costs-menu" class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Custos<i class="mdi-navigation-arrow-drop-down"></i></a>
        <div class="collapsible-body">
          <ul>
            <li id="fixed-costs-menu"><a href="main#/fixed-costs">Fixos</a></li>
            <li id="depreciation-costs-menu"><a href="main#/depreciation-costs">Depreciação</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li -->
  <li id="sale-menu"><a href="main#/sale">Pedidos</a></li>
  <li id="customer-menu"><a href="main#/customer">Clientes</a></li>
  <li id="seller-menu"><a href="main#/seller">Intermediários</a></li>
  <li class="divider"></li>
  <li id="product-menu"><a href="main#/product">Produtos</a></li>
  <li id="stuff-menu"><a href="main#/stuffs">Materiais</a></li>
  <li class="divider"></li>
  <li id="fixed-costs-menu"><a href="main#/fixed-costs">Fixos</a></li>
  <li id="depreciation-costs-menu"><a href="main#/depreciation-costs">Equipamentos</a></li>
  <li class="divider"></li>
  <!--li><a href="main#/supplier">Fornecedores</a></li-->
  <li><a href="main#/preferences" alt="Configurações" title="Configurações">
      Configurações
      </a>
  </li>
  <li class="hide-on-med-and-up"><a href="/logout" alt="Sair">Sair</a></li>
</ul>


