
<!DOCTYPE html>
<html lang="en" ng-app="craft-app" xmlns:og="http://ogp.me/ns#">
<head>
  <% include head-system %>
  <title>Home</title>
</head>
<body>
  <% include header %>  
  <main ng-view>
    
  </main>

  <% include scripts-min %>
<script type="text/javascript">
$(document).ready(function(){
    var steps = [
        {
          element:"#home-menu-item",
          intro: "Aqui você acessa retorna para a página inicial"
        },
        {
          element: "#new-sale-menu",
          intro: "Aqui você acessa diretamente a tela de criação de orçamento"
        },
        {
          element:"#customers-menu",
          intro: "Aqui você acessa o cadastro de clientes"
        },
        {
          element:"#sales-menu",
          intro: "Aqui você acessa os cadastros relacionados à vendas, Como os pedidos gerados e intermediários das vendas"
        },
        {
          element: "#costs-menu",
          intro: "Aqui você acessa o cadastro de todos os custos fixos e depreciação de equipamentos. Nos custos fixos, você cadastra itens como energia elétrica, internet, etc.. ou seja, todos os custos que ocorrem todo o mês e não tem muita variação. Como há uma variação mẽs a mês, é importante colocar um valor médio.Nos custos de depreciação, você cadastra itens que possuem uma vida útil e uma previsão de quanto tempo você pretende trocar esse item. Itens como impressora, máquinas de costura, tesouras, etc..." 
        },
        {
          element: "#stuff-menu",
          intro: "Este é o cadastro de materiais. Nele, todos os itens que são usados para fabricação de seus produtos devem ser cadastrados"
        },
        {
          element: "#product-menu",
          intro: "Este é o cadastro de produtos que você vende. Dentro dele você adiciona os materiais necessários, informa o tempo de fabricação e o sistema sugerirá um preço para venda, baseado nos materiais utilizados, todos os custos, incluindo sua mão de obra e o percentual de lucro configurado."
        },
        {
          element: "#seller-menu",
          intro: "Nesta opção, você pode cadastrar todos os intermediários para sua venda e seus percentuais de comissão. Ex. Mercado livre, Elo 7, alguma loja física que revenda seus produtos, etc.."
        },
        {
          element: "#customer-menu",
          intro: "Aqui você cadastra todos os seus clientes"
        },
        {
          element: "#sale-menu",
          intro: "E aqui você cadastra seus orçamentos, os aprova e controla todos os pagamentos"
        }
      ];

	var introjs = introJs();
    $('#help').on("click", function () {
      introjs.setOption("steps", steps).start();
    })

    var newSteps = [{
        intro: "<h3 class='center'>Seja bem vindo ao Sr. Artesão!</h3><p>Iremos apresentar os principais acessos para auxiliar você nessa primeira navegação.</p>"
    }].concat(steps) ;
    introjs.setOption("steps", steps);
    $("#menu-help").on("click", function() {
      $("#costs-menu").click();
      introjs.start();
    });
});
</script>
  </body>
</html>
