<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <% include ./head %>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-79160659-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
<body>
  <div class="navbar-fixed">
  <nav class="lighten-1 " role="navigation">
    <div class="nav-wrapper container">
      <a  href="/" id="logo-container" class="brand-logo">Sr. Artesão</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/system">Entrar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/system">Entrar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
  <main>
  <div class="parallax-container">
      <div class="row">
        <p>&nbsp;</p>
      </div>
      <div class="row center">
        <h5 class="header col s12">O melhor sistema para artesanato, decoração e profissionais autônomos</h5>
      </div>
      <div class="row center">
        <a href="/register" class="btn-large waves-effect waves-light orange lighten-1">Cadastre-se agora!</a>
        </div>

      <div class="parallax">
        <img src="images/background-6.jpg" />
      </div>
  </div>
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block ">
            <h2 class="center  light-blue-text"><i class="large material-icons">trending_down</i></h2>
            <h5 class="center">Controle de custos</h5>

            <p class="light">Você conseguirá cadastrar todos os seus custos fixos e com depreciação e usaremos essas inforações para calcular o valor adequado a cada produto que você pretende vender</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">attach_money</i></h2>
            <h5 class="center">Tenha um lucro real!</h5>
            <p class="light">Monte os preços de seus produtos tendo uma visão clara de quanto cada item possui de custo! Veja o quanto cada custo fixo, cada custo com materiais e quanto cada equipamento impacta diretamente no preço final. Não tome mais prejuízo! :)</p>
          </div>
        </div>
      
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">trending_up</i></h2>
            <h5 class="center">Controle suas vendas</h5>

            <p class="light">Visualize todos os seus orçamentos, vendas realizadas, pagamentos futuros e atrasados de uma maneira bem fácil e rápida!</p>
          </div>
        </div>
      </div>
    </div>
  </main> 
  <base href="/" />
  <script src="js/site.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
    })
  </script>
  </body>
</html>