
<!DOCTYPE html>
<html lang="en" ng-app="preferences-app">
<head>
  <% include ./head %>
  <title>Preferências</title>
</head>
<body ng-controller="PreferencesController">
  <header>
  <% include header %>
  </header>
  <main>
    
  </main>
  <% include ./footer %>
  <% include ./scripts %>

  </body>
</html>
