<!DOCTYPE html>
<html lang="en" ng-app="craft-app"  >
<head>
  <% include ./head %>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-79160659-1', 'auto');
ga('send', 'pageview');
ga('send',{
  hitType: 'event',
  eventCategory: 'SignIn',
  eventAction: 'pageview'
});
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
<body ng-controller="UsersController" class="back3">
  <header>
    <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a  href="/"id="logo-container" class="brand-logo">Sr. Artesão</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/system">Entrar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/system">Entrar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>

  <main>
    <div class="row" >
      <div class="col s0 m3">
      &nbsp;
      </div>
      <div class="col s12 m6">
        <form name="userForm">
            <!--div class="col s12 center">
              <a href="#" id="facebookLogin"class="btn-large waves-effect waves-light indigo" scope="public_profile,email" >Cadastre-se Pelo Facebook</a>
            </div>  
            <div class="col s12 center">
              <span>ou preencha os campos abaixo</span>
            </div-->
              <div class="card">
                <div class="card-content">
                  <div class="center text-darken-2" ng-class="messageClass">
                  <span ng-bind="message" ></span>
                  </div>
                  <span class="car-title center-align"><h5>Preencha os dados abaixo para cadastrar-se</h5></span>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="username" ng-required="true" type="text" ng-model="user.name">
                      <label for="username" >Nome</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="email"  ng-required="true" type="email" ng-model="user.email">
                      <label for="email" >Email</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="password" ng-required="true" ng-change="validateRegister()" type="password" ng-minlength="6" ng-model="user.password">
                      <label for="password" class="active">Senha (mínimo 6 caracteres)</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="confirmPassword" ng-change="validateRegister()" ng-required="true" type="password" ng-minlength="6" class="validate" ng-model="user.confirmPassword">
                      <label for="confirmPassword"  class="active">Confirme a senha</label>
                    </div>
                    <div class="input-field col s12">
                      <div class="progress" ng-show="loading" >
                        <div class="indeterminate"></div>
                      </div>
                      <button id="submit" class="waves-effect waves-light btn btn-large" ng-disabled="!isUserValid" ng-click="save(user)">Cadastrar</button>
                    </div>

                  </div>
                </div>
              </div>
        </form>
      </div>
      <div class="col s0 m3">
        &nbsp;
      </div>
    </div>
  </main>

  <% include ./scripts-min %>
  <script type="text/javascript">
  $(function () {
    $("#submit").click(function() {
      ga('send',{
        hitType: 'event',
        eventCategory: 'SignIn',
        eventAction: 'confirm'
      });
    })
    $('.parallax').parallax();
    $('.modal-trigger').leanModal();
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1687117668228852',
        cookie: true,
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        console.log("LOGIN OK");
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        console.log("LOGIN NÂO AUTORIZADO");
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        console.log("LOGIN NÃO OK");
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    $('#facebookLogin').click(function () {
        FB.login(function (response) {
            statusChangeCallback(response);
        }, {scope: 'public_profile,email'});
    }); 
  })
</script>
  </body>
</html>
