  <base href="/" />
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
      
  <script src="components/materialize/dist/js/materialize.min.js"></script>
  <script src="components/lodash/dist/lodash.min.js"></script>

  <script src="components/moment/min/moment-with-locales.min.js"></script>
  <script src="components/moment/min/moment.min.js"></script>
  <script src="components/moment-duration-format/lib/moment-duration-format.js"></script>
  <script src="components/Chart.js/Chart.min.js"></script>
  <script src="components/intro.js/intro.js"></script>

  <!-- Angular dependencies -->
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-route/angular-route.min.js"></script>
  <script src="components/angular-i18n/angular-locale_pt-br.js"></script>
  <script src="components/angular-touch/angular-touch.min.js"></script>
  <script src="components/angucomplete-alt/angucomplete-alt.js"></script>
  <script src="components/angular-chart.js/dist/angular-chart.min.js"></script>
  
  <script src="js/app/home/app.js"></script>
  <script src="js/app/directives/file.model.js"></script>
  <script src="js/app/home/home.js"></script>
  
  <script src="js/app/preferences/preferences-service.js"></script>
  <script src="js/app/preferences/preferences-controller.js"></script>
  
  <script src="js/app/fixed-costs/fixed-costs-service.js"></script>
  <script src="js/app/fixed-costs/fixed-costs-controller.js"></script>
  <script src="js/app/fixed-costs/fixed-costs-form-controller.js"></script>

  <script src="js/app/depreciation-costs/depreciation-costs-service.js"></script>
  <script src="js/app/depreciation-costs/depreciation-costs-controller.js"></script>
  <script src="js/app/depreciation-costs/depreciation-costs-form-controller.js"></script>

  <script src="js/app/stuff/stuff-service.js"></script>
  <script src="js/app/stuff/stuff-controller.js"></script>
  <script src="js/app/stuff/stuff-form-controller.js"></script>

  <script src="js/app/seller/seller-service.js"></script>
  <script src="js/app/seller/seller-controller.js"></script>
  <script src="js/app/seller/seller-form-controller.js"></script>

  <script src="js/app/customer/customer-service.js"></script>
  <script src="js/app/customer/customer-controller.js"></script>
  <script src="js/app/customer/customer-form-controller.js"></script>

  <script src="js/app/product/product-service.js"></script>
  <script src="js/app/product/product-controller.js"></script>
  <script src="js/app/product/product-form-controller.js"></script>


  <script src="js/app/sale/sale-service.js"></script>
  <script src="js/app/sale/sale-controller.js"></script>
  <script src="js/app/sale/sale-form-controller.js"></script>

  <script src="js/app/sale/sale-service.js"></script>
  
  <script src="js/app/payment/payment-service.js"></script>
  
  <script src="js/app/config/interceptors-config.js"></script>
  <script src="js/app/config/routes.js"></script>
  <script src="js/app/config/routes-stuffs.js"></script>
  <script src="js/app/config/routes-seller.js"></script>
  <script src="js/app/config/routes-customer.js"></script>
  <script src="js/app/config/routes-product.js"></script>
  <script src="js/app/config/routes-sale.js"></script>
  
  <script src="js/app/util/util.js"></script>
  <script src="js/app/interceptors/timestamp-interceptor.js"></script>
  <script src="js/app/interceptors/security-interceptor.js"></script>
<script>
$(function () {
   $(".menu-trigger").sideNav({
    menuWidth: 300, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
  });
  $(".dropdown-button").dropdown();

  var uri = window.location.pathname.substr(1),
      a = $('a[href="/'+uri+'"]'),
      li = a.parent();
  li.addClass("active");
  if (li.parent()) {
  	var ul = li.parent();
  	if (ul.parent()) {
  		var div = ul.parent();
  		if (div.hasClass("collapsible-body") && div.is(':hidden')){
  			div.parent().addClass("active");
        div.parent().find(".collapsible-header").addClass("active");
  			div.show();
  		}
  	}
  }
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 50,
    max: new Date(),
    labelMonthNext: 'Próximo Mês',
    labelMonthPrev: 'Mês Anterior',
    //The title label to use for the dropdown selectors
    labelMonthSelect: 'Selecione o Mês',
    labelYearSelect: 'Selecione o ano',
    //Months and weekdays
    monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
    monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
    weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
    weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
    //Materialize modified
    weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
    //Today and clear
    today: 'Hoje',
    clear: 'Limpar',
    close: 'Fechar',
    //The format to show on the `input` element
    format: 'dd/mm/yyyy'
  });
})
</script>
