  <base href="/" />
  <script src="js/js.min.js"></script>
  <script src="js/app.min.js"></script>
<script>
$(function () {
   $(".menu-trigger").sideNav({
    menuWidth: 300, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteo
  });
  $(".dropdown-button").dropdown();

  var uri = window.location.pathname.substr(1),
      a = $('a[href="/'+uri+'"]'),
      li = a.parent();
  li.addClass("active");
  if (li.parent()) {
  	var ul = li.parent();
  	if (ul.parent()) {
  		var div = ul.parent();
  		if (div.hasClass("collapsible-body") && div.is(':hidden')){
  			div.parent().addClass("active");
        div.parent().find(".collapsible-header").addClass("active");
  			div.show();
  		}
  	}
  }
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 50,
    max: new Date(),
    labelMonthNext: 'Próximo Mês',
    labelMonthPrev: 'Mês Anterior',
    //The title label to use for the dropdown selectors
    labelMonthSelect: 'Selecione o Mês',
    labelYearSelect: 'Selecione o ano',
    //Months and weekdays
    monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
    monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
    weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
    weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
    //Materialize modified
    weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
    //Today and clear
    today: 'Hoje',
    clear: 'Limpar',
    close: 'Fechar',
    //The format to show on the `input` element
    format: 'dd/mm/yyyy'
  });
})
</script>
