<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head %>
  <title>Sr.Artesão</title>
</head>
<body class="back4">
  <header>
    <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a  href="/"id="logo-container" class="brand-logo">Sr. Artesão</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>

  <main>
      <div class="row center-align">
          <form action="/login" method="post">
          <div class="col s0 m3">
          &nbsp;
          </div>
          <div class="col s12 m6">
            <div class="card" >
              <div class="card-content">
                <div class="card-title"><h2 class="header">Login</h2></div>
                <% if (typeof errorMessage != 'undefined') { %>
                <div class="row">
                  <div class="center red-text text-darken-2">
                  <%= errorMessage %>
                  </div>
                </div>
                <% } %>

                <% if (typeof successMessage != 'undefined') { %>
                <div class="row">
                  <div class="center green-text text-darken-2">
                  <%= successMessage %>
                  </div>
                </div>
                <% } %>
                <div class="row">
                  <div class="left-align input-field col s12">
                    <input id="email" name="email" type="text">
                    <label for="email" class="active">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="left-align input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password" class="active">Senha</label>
                  </div>
                </div>

                <div class="row">
                  <button type="submit" class="waves-effect waves-light btn btn-large">Entrar</button><br>
                  <a class="modal-trigger" href="#modal-reset">Esqueceu sua senha?</a>

                </div>

              </div>
            </div>
          </div>
          <div class="col s0 m3">
          &nbsp;
          </div>

          </form>
    </div>
  </main>

  <div id="modal-reset" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Preencha o email</h5>
    <form action="/reset-password" method="post">
      <div class="left-align input-field col s12">
        <input id="email" name="email" type="text">
        <label for="email" class="active">Email</label>
      </div>
      <div class="row center">
      <button type="submit" class="waves-effect waves-light btn btn-large">Enviar</button>
      </div>
    </form>
    
  </div>
</div>

 <base href="/" />
  <script src="js/js.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $('.modal-trigger').leanModal();
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
    })
  </script>
  </body>
</html>
