<div class="container">
	<div class="card" >
      <form name="depreciationCostForm">
      <div class="card-content">

        <div class="row">
          <div class="input-field col s12 m8">
            <input id="description" placeholder="Ex: Impressora, notebook, etc.." ng-required="true" type="text" class="validate" ng-model="depreciationCost.description">
            <label for="description" data-error="wrong" data-success="right" class="active">Descrição</label>
          </div>

          <div class="input-field col s12 m2">
            <input id="costvalue" placeholder="Insira o valor" ng-required="true" type="number" step="0.01" class="validate" ng-model="depreciationCost.value">
            <label for="costvalue" data-error="wrong" data-success="right" class="active">Valor da aquisição</label>
          </div>

          <div class="input-field col s12 m2">
            <input id="durability" placeholder="Insira a quantidade de meses" ng-required="true" type="number" step="0" class="validate" ng-model="depreciationCost.durability">
            <label for="durability" data-error="wrong" data-success="right" class="active">Durabilidade (em meses)</label>
          </div>
        </div>
        <div class="row">
          <button class="waves-effect waves-light btn" ng-disabled="depreciationCostForm.$invalid" ng-click="save(depreciationCost)">Salvar</button>
          <a class="waves-effect waves-light btn red" href="main#/depreciation-costs">Cancelar</a>
        </div>
      </div>
      </form>
    </div>
</div>