<div class="container">
	<div class="card" >
      <div class="card-content" >
      	<div class="row">
	        <div class="input-field col s12 m12">
	          <a href="main#/depreciation-costs/new" class="btn btn-small green truncate">novo</a>
	        </div>
	      </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Digite para pesquisar os custos já cadastrados" id="search" type="text" ng-model="search" ng-model-options="{updateOn: 'default blur', debounce: {default:500, blur: 0}}">
          </div>
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="description">Descrição</th>
              <th data-field="value">Valor</th>
              <th data-field="duration">Duração (Meses)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="depreciationCost in depreciationCosts | filter:search">
              <td><a href="main#/depreciation-costs/edit/{{::depreciationCost.id}}" ng-bind="::depreciationCost.description"></a></td>
              <td ng-bind="::depreciationCost.value | currency"></td>
              <td ng-bind="::depreciationCost.durability"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>