<div class=container><div class=card><form name=customerForm><div class=card-content><div class=row><div class="input-field col s12 m4"><input id=name placeholder=Nome ng-required='true"' type=text ng-model=customer.name> <label for=name class=active>Nome</label></div><div class="input-field col s12 m4"><input id=email placeholder=email ng-required=true type=text ng-model=customer.email> <label for=email class=active>Email</label></div></div><div class=row><div class="input-field col m4 hide-on-small-only"><input id=facebook placeholder="Link do perfil no facebook" type=text ng-model=customer.facebook> <label for="facebook hide-on-small-only" class=active>Facebook</label></div><div class="input-field col m4 hide-on-small-only"><input id=googlePlus placeholder="Link do perfil no google plus" type=text ng-model=customer.googlePlus> <label for=googlePlus class=active>Google Plus</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=twitter placeholder="Link do perfil no twitter" type=text ng-model=customer.twitter> <label for=twitter class=active>Twitter</label></div><div class="input-field col s12 m4"><input id=phone placeholder="Somente os numeros" type=text ng-model=customer.phone> <label for=phone class=active>Telefone</label></div><div class="input-field col s12 m4"><input id=mobilePhone placeholder="Somente os numeros" type=text ng-model=customer.mobilePhone> <label for=mobilePhone class=active>Celular</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=document placeholder="Somente os numeros" type=text ng-model=customer.document> <label for=document class=active>CPF</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=document2 placeholder="Somente os numeros" type=text ng-model=customer.document2> <label for=document2 class=active>RG</label></div><div class="input-field col s12 m4 hide-on-small-only"><label for=birthdate class=active>Nascimento</label> <input id=birthdate ng-model=customer.birthdate type=text class=datepicker></div></div><div class=row><div class="input-field col s12 m4 hide-on-small-only"><input id=postalCode placeholder="Somente os numeros" type=text ng-model=customer.postalCode> <label for=postalCode class=active>CEP</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=address type=text ng-model=customer.address> <label for=address class=active>Endereço</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=number type=text ng-model=customer.number> <label for=number class=active>Número</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=complement type=text ng-model=customer.complement> <label for=complement class=active>Complemento</label></div><div class="input-field col s12 m4 hide-on-small-only"><input id=neighborhood type=text ng-model=customer.neighborhood> <label for=neighborhood class=active>Bairro</label></div><div class="input-field col m4 hide-on-small-only"><input id=city type=text ng-model=customer.city> <label for=city class=active>Cidade</label></div><div class="input-field col m4 hide-on-small-only"><input id=state type=text ng-model=customer.state> <label for=state class=active>Estado</label></div><div class="input-field col m4 hide-on-small-only"><input id=observation type=text ng-model=customer.observation> <label for=observation class=active>Observação</label></div></div><div class=row><button class="waves-effect waves-light btn" ng-disabled=customerForm.$invalid ng-click=save(customer)>Salvar</button> <a class="waves-effect waves-light btn red" href=main#/customer>Cancelar</a></div></div></form></div></div><script type=text/javascript>
$(function () {
	$("#birthdate").pickadate({
	    selectMonths: true,
	    selectYears: 50,
	    max: new Date(),
	    labelMonthNext: 'Próximo Mês',
	    labelMonthPrev: 'Mês Anterior',
	    //The title label to use for the dropdown selectors
	    labelMonthSelect: 'Selecione o Mês',
	    labelYearSelect: 'Selecione o ano',
	    //Months and weekdays
	    monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
	    monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
	    weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
	    weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
	    //Materialize modified
	    weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
	    //Today and clear
	    today: 'Hoje',
	    clear: 'Limpar',
	    close: 'Fechar',
	    //The format to show on the `input` element
	    format: 'dd/mm/yyyy'
	});
})
</script>