<!DOCTYPE html >
<html lang="en" ng-app="supplier-app" >
<head>
  <% include ../head %>
  <title>Fornecedores</title>
</head>
<body ng-controller="supplierController">
  <header>
    <% include ../header %>
  </header>
  <main>
    <div class="container">
      <h5 class="page-title">Fornecedores</h5>
      <div class="row">
        <div class="row">
          <div class="col s12 m12">
            <div class="card" ng-show="new || editing"  >

              <form name="supplierForm">
              <div class="card-content">

                <div class="row">
                  <div class="input-field col s6">
                    <input id="name" placeholder="Nome" ng-focus="(new || editing) && supplierForm.$pristine" ng-required="true" type="text" class="validate" ng-model="supplier.name">
                    <label for="name" data-error="wrong" data-success="right" class="active">Nome</label>
                  </div>

                  <div class="input-field col s5">
                    <input id="email" placeholder="Email" ng-focus="(new || editing) && supplierForm.$pristine" type="text"  ng-model="supplier.email">
                    <label for="email"  class="active">Email</label>
                  </div>
                  <div class="col s1 right-align"><a class="waves-effect waves-light btn-floating red" ng-click="cancel()"><i class="tinny material-icons">clear</i></a></div>
                </div>

                
                <div class="row">
                  <div class="input-field col s4">
                    <input id="facebook" placeholder="Facebook" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.facebook">
                    <label for="facebook"  class="active">Facebook</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="name" placeholder="Nome" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.googlePlus">
                    <label for="name" data-error="wrong" data-success="right" class="active">Google Plus</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="twitter" placeholder="Twitter" ng-focus="(new || editing) && supplierForm.$pristine" type="text" ng-model="supplier.twitter">
                    <label for="twitter"  class="active">Twitter</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="other" placeholder="Mercado Livre, Elo7, etc.." ng-focus="(new || editing) && supplierForm.$pristine" type="text"  ng-model="supplier.other">
                    <label for="other"  class="active">Outro</label>
                  </div>
               
                  <div class="input-field col s4">
                    <input id="phone" placeholder="Telefone" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.phone">
                    <label for="phone" data-error="wrong" data-success="right" class="active">Telefone</label>
                  </div>
                
                  <div class="input-field col s4">
                    <input id="mobilePhone" placeholder="Telefone" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.mobilePhone">
                    <label for="mobilePhone" data-error="wrong" data-success="right" class="active">Celular</label>
                  </div>
                
                  <div class="input-field col s4">
                    <input id="document" placeholder="Ex: RG, CPF, CNH, etc..." ng-focus="(new || editing) && supplierForm.$pristine"  type="text" class="validate" ng-model="supplier.document">
                    <label for="document" data-error="wrong" data-success="right" class="active">Documento 1</label>
                  </div>
                
                  <div class="input-field col s4">
                    <input id="document2" placeholder="Ex: RG, CPF, CNH, etc..." ng-focus="(new || editing) && supplierForm.$pristine"  type="text" class="validate" ng-model="supplier.document2">
                    <label for="document2" data-error="wrong" data-success="right" class="active">Documento 2</label>
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s4">
                    <input id="postalCode" placeholder="CEP" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.postalCode">
                    <label for="postalCode" data-error="wrong" data-success="right" class="active">CEP</label>
                  </div>

                  <div class="input-field col s6">
                    <input id="address" placeholder="Ex: Avenida Tancredo Neves" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.address">
                    <label for="address" data-error="wrong" data-success="right" class="active">Endereço</label>
                  </div>

                  <div class="input-field col s2">
                    <input id="number" placeholder="Número" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.number">
                    <label for="number" data-error="wrong" data-success="right" class="active">Número</label>
                  </div>

                  <div class="input-field col s4">
                    <input id="complement" placeholder="Complemento" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.complement">
                    <label for="complement" data-error="wrong" data-success="right" class="active">Complemento</label>
                  </div>

                  <div class="input-field col s4">
                    <input id="neighborhood" placeholder="Bairro" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.neighborhood">
                    <label for="neighborhood" data-error="wrong" data-success="right" class="active">Bairro</label>
                  </div>

                  <div class="input-field col s4">
                    <input id="city" placeholder="Cidade" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.city">
                    <label for="city" data-error="wrong" data-success="right" class="active">Cidade</label>
                  </div>

                  <div class="input-field col s4">
                    <input id="state" placeholder="Estado" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.state">
                    <label for="state" data-error="wrong" data-success="right" class="active">Estado</label>
                  </div>

                  <div class="input-field col s4">
                    <input id="observation" placeholder="Observação" ng-focus="(new || editing) && supplierForm.$pristine" type="text" class="validate" ng-model="supplier.observation">
                    <label for="observation " data-error="wrong" data-success="right" class="active">Observação</label>
                  </div>
                </div>

                <div class="row">
                  <button class="waves-effect waves-light btn" ng-disabled="supplierForm.$invalid" ng-click="save(supplier)">Salvar</button>
                  <a class="waves-effect waves-light btn red" ng-click="cancel()">Cancelar</a>
                </div>

              </div>
              </form>

            </div>

            <div class="card" ng-hide="new || editing">
              <div class="card-content" >
                <div class="row">
                  <a ng-hide="new || editing"  ng-click="createNew()" class="btn-small btn-floating waves-effect waves-light"><i class="tiny material-icons">add</i></a>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="search" type="text" ng-model="search">
                    <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
                  </div>
                </div>
                <table class="striped">
                  <thead>
                    <tr>
                      <th data-field="id">#</th>
                      <th data-field="name">Nome</th>
                      <th data-field="percentage">Email</th>
                      <th data-field="percentage">Celular</th>
                      <th data-field="percentage">Telefone</th>
                      <th data-field="percentage">Observação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="supplier in suppliers | filter:search">
                      <td>{{ supplier.id }}</td>
                      <td><a ng-click="edit(supplier)">{{ supplier.name }}</a></td>
                      <td>{{ supplier.email }}</td>
                      <td>{{ supplier.mobilePhone }}</td>
                      <td>{{ supplier.phone }}</td>
                      <td>{{ supplier.observation }}</td>
                    </tr>
                  </tbody>
                </table>
                <% include ../loading %>
              </div>
            </div>
          </div>
      </div>
    </div>
    </main>

    <% include ../footer %>
    <% include ../scripts %>
 </body>
</html>
