<div class="container">
<div class="card" >
<form name="fixedCostForm">
  <div class="card-content">
    <div class="row">
      <div class="input-field col s12 m10">
        <input id="description" placeholder="Insira a descrição de um custo fixo" ng-focus="(new || editing) && fixedCostForm.$pristine" ng-required="true" type="text" class="validate" ng-model="fixedCost.description">
        <label for="description"  class="active">Descrição</label>
      </div>
    
      <div class="input-field col s12 m2">
        <input id="costvalue" placeholder="Insira o valor" ng-focus="(new || editing) && fixedCostForm.$pristine" ng-required="true" type="number" step="0.01" class="validate" ng-model="fixedCost.value">
        <label for="costvalue"  class="active">Valor</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn" ng-disabled="fixedCostForm.$invalid" ng-click="save(fixedCost)">Salvar</button>
      <a class="waves-effect waves-light btn red" href="main#/fixed-costs">Cancelar</a>
    </div>

  </div>
</form>
</div>
</div>
<script type="text/javascript">
  $(function() {
    $("#description").focus();
  })
</script>