<div class="container">
  <div class="card">
    <div class="card-content" >
      <div class="row">
        <div class="input-field col s12 m12">
          <a href="main#/fixed-costs/new" class="btn btn-small green truncate">novo</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <input id="search" type="text" ng-model="search">
          <label for="search" class="active">Digite para pesquisar entre os custos cadastrados</label>
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th data-field="description">Descrição</th>
            <th data-field="value">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fixedCost in fixedCosts | filter:search">
            <td><a href="main#/fixed-costs/edit/{{::fixedCost.id}}" ng-bind="::fixedCost.description"></a></td>
            <td ng-bind="::fixedCost.value | currency"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>