<div class="container">
  <div class="card">
    <div class="card-content">
      <form name="saleForm">
        <div class="row ">
          <div class="col s10 ">
            <h5 class="promo-caption red-text" ng-bind="getCurrentStatus()"></h5>
          </div>
        </div>
        <div class="row ">
          <div class="input-field col s12 m9">
            <a class="modal-trigger" href="#customerInfo" ></a>
            <input  id="customerName"
                    ng-required="true" 
                    type="text" 
                    disabled
                    class="validate" 
                    ng-model="sale.customer.name">
            <label for="customerName" class="active">Cliente</label>
          </div>
          <div class="input-field col s12 m3" ng-show="sale.status=='ESTIMATE'">
            <a class="modal-trigger waves-effect waves-light btn btn-large" href="#modal1" >
              Selecionar cliente
            </a>
          </div>
        </div>

         <div class="row">
          <div class="input-field col s12 m9">
            <input  id="sellerName"
                    type="text" 
                    disabled
                    ng-model="sale.seller.name">
            <label for="sellerName" class="active">Intermediário</label>
          </div>
          <div class="input-field col s12 m3" ng-show="sale.status=='ESTIMATE'">
            <a class="modal-trigger waves-effect waves-light btn btn-large" href="#modalSeller">Selecionar Intermediário</a>
          </div>
        </div>

         <div class="row">
          <div class="input-field col s6 m8">
            <input  id="obs"
                    type="text" 
                    ng-disabled="sale.status != 'ESTIMATE'"
                    ng-model="sale.observation">
            <label for="obs" class="active">Observação</label>
          </div>

          <div class="input-field col s6 m4 red-text">
            <input id="deliveryDate"  ng-disabled="sale.status != 'ESTIMATE'" class="datepicker" required="true" type="text" ng-model="sale.formatedDeliveryDate">
            <label for="deliveryDate" class="active">Data da entrega</label>
          </div>
        
        </div>
        

        <div class="row">
          <div class="input-field col s12" ng-show="sale.status=='ESTIMATE'">
            <a class="modal-trigger waves-effect waves-light btn btn-large" href="#modalProducts">Adicionar produtos</a>
          </div>
          <div class="input-field col s12">
            <table class="striped">
              <thead>
                <tr>
                  <th data-field="descripion">Produto</th>
                  <th data-field="price">R$/un</th>
                  <th data-field="quantity">Qtde.</th>
                  <th data-field="quantity">Observação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in selectedProducts">
                  <td>
                    <a class="btn-flat" ng-click="remove(product);calculatePrice()" ng-show="sale.status=='ESTIMATE'"><i class="tiny material-icons">clear</i>
                    </a>
                    <span ng-bind="::product.description"></span>
                  </td>
                  <td ng-bind="::product.price | currency">                            
                  </td>
                  <td>
                    <input type="number" step="0.01" ng-disabled="sale.status != 'ESTIMATE'" ng-model="product.quantity" ng-change="calculatePrice()"/>
                  </td>
                  <td>
                    <input type="text" ng-disabled="sale.status != 'ESTIMATE'" ng-model="product.observation" ng-max="255"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m3">
          <input required="true" id="discountValue" ng-disabled="sale.status != 'ESTIMATE'" name="discountValue" type="number" step="0.01" ng-model="sale.discountValue" ng-change="calculatePrice()"/>
          <label for="discountValue"  class="active">Valor de Desconto</label>
          </div>
          <div class="input-field col s6 m3">
          <input id="discountPercentage" ng-disabled="sale.status != 'ESTIMATE'" name="discountPercentage" type="number" step="0.01" required="true" ng-model="sale.discountPercentage" ng-change="calculateDiscountValue()" ng-blur="calculatePrice()"/>
          <label for="discountPercentage"   class="active">% de Desconto</label>
          </div>
          <div class="input-field col s6 m3">
            <input placeholder="" ng-disabled="sale.status != 'ESTIMATE'" id="installments" name="installments" type="number" step="0" required="true" ng-model="sale.installments"/>
            <label for="installments"  class="active" >Parcelas</label>
          </div>
          <div class="input-field col s6 m3">
            <input id="firstDueDate"  ng-disabled="sale.status != 'ESTIMATE'" placeholder=" " required="true" type="text" class="datepicker" ng-model="sale.formatedFirstDueDate">
            <label for="firstDueDate"  class="active">Primeiro vencimento</label>
          </div>
          <div class="input-field col s6 m2">
            <p class="center black-text">Total<br>
            <span ng-bind="sale.totalValue | currency"></span></p>
          </div>
          <div class="input-field col s6 m2">
            <p class="center green-text">Mão de Obra<br>
            <span ng-bind="sale.workValue | currency"></span></p>
          </div>
          <div class="input-field col s6 m2">
            <p class="center green-text">Lucro<br>
            <span ng-bind="sale.profitValue | currency"></span></p>
          </div>
          <div class="input-field col s6 m2">
            <p class="center red-text">Custos<br>
            <span ng-bind="(sale.totalCostsValue - sale.workValue) | currency"></span></p>
          </div>
          <div class="input-field col s6 m2">
            <p class="center red-text">Taxa de Venda<br>
            <span ng-bind="sale.rateValue | currency"></span></p>
          </div>  
        </div>         

        <div class="row">
          <button class="waves-effect waves-light btn" ng-disabled="saleForm.$invalid" ng-click="save(sale)">Salvar</button>
          <a class="waves-effect waves-light btn red" href="main#/sale">Cancelar</a>
        </div>
      </form> 
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Selecione o cliente</h5>
    <div class="input-field col s12 m6">
      <input id="search" type="text" ng-model="searchCustomer">
      <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Nome</th>
          <th class="hide-on-small-only" data-field="email">Email</th>
          <th class="hide-on-small-only" data-field="phone">Telefone</th>
          <th class="hide-on-small-only" data-field="mobilePhone">Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="customer in customers | filter:searchCustomer">
          <td><a ng-bind="::customer.name" class="modal-action modal-close" ng-click="selectedCustomer(customer)"></a></td>
          <td class="hide-on-small-only" ng-bind="::customer.email"></td>
          <td class="hide-on-small-only" ng-bind="::customer.phone"></td>
          <td class="hide-on-small-only" ng-bind="::customer.mobilePhone"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn red">Cancelar</a>
  </div>
</div>

<div id="customerInfo" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Contatos de: <span ng-bind="sale.customer.name"></span></h5>
    <div>
      <strong>Email: </strong><span ng-bind="sale.customer.email"></span><br>
      <strong>Telefone: </strong><span ng-bind="sale.customer.phone"></span><br>
      <strong>Celular: </strong><span ng-bind="sale.customer.mobilePhone"></span><br>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn red">Fechar</a>
  </div>
</div>

<div id="modalSeller" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Selecione o intermediário</h5>
    <div class="input-field col s12 m6">
      <input id="search" type="text" ng-model="searchSeller">
      <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Nome</th>
          <th data-field="percentage">%</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="seller in sellers | filter:searchSeller">
          <td><a ng-bind="::seller.name" class="modal-action modal-close" ng-click="selectedSeller(seller)"></a></td>
          <td ng-bind="::seller.percentage | currency : ''"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn red">Cancelar</a>
  </div>
</div>

<div id="modalProducts" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Selecione os produtos</h5>
    <div class="input-field col s12 m6">
      <input id="search" type="text" ng-model="searchProducts">
      <label for="search" data-error="wrong" data-success="right"  class="active">Procurar</label>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Nome</th>
          <th data-field="percentage">%</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products | filter:searchProducts">
          <td>
            <input type="checkbox" class="filled-in" id="filled-in-box{{::product.id}}" ng-model="product.added" ng-click="checkUncheck(product)"/>
            <label for="filled-in-box{{::product.id}}"></label>
          </td>
          <td ng-bind="::product.description"></td>
          <td ng-bind="::product.price | currency"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn blue">Finalizar</a>
  </div>
</div>




<script type="text/javascript">
$(function () {
  $("#description").focus();
  $('.modal-trigger').leanModal();
  $('#time').mask("99:99:99");
  $(".datepicker").pickadate({
      selectMonths: true,
      selectYears: 3,
      min: new Date(),
      labelMonthNext: 'Próximo Mês',
      labelMonthPrev: 'Mês Anterior',
      //The title label to use for the dropdown selectors
      labelMonthSelect: 'Selecione o Mês',
      labelYearSelect: 'Selecione o ano',
      //Months and weekdays
      monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
      monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
      weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
      weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
      //Materialize modified
      weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
      //Today and clear
      today: 'Hoje',
      clear: 'Limpar',
      close: 'Fechar',
      //The format to show on the `input` element
      format: 'dd/mm/yyyy'
});
})
</script>