<div class="container">


  <div class="card" ng-hide="payment">
    <div class="card-content" >
      <div class="row">
        <a class="btn" href="main#/sale/new">Novo</a>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="search" placeholder="Digite qualquer texto para procurar" type="text" ng-model="search">
          <label for="search" data-error="wrong" data-success="right"  class="active">Filtro</label>
        </div>
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th data-field="customer">#</th>
            <th data-field="customer">Cliente</th>
            <th class="hide-on-small-only" data-field="seler">Intermediário</th>
            <th data-field="totalValue">Valor Total</th>
            <th data-field="status">Status</th>
            <th class="hide-on-small-only" data-field="status">Entrega</th>
            <th class="hide-on-small-only" data-field="status">Parcelas</th>
            <th data-field="action">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sale in sales | filter:{status: searchStatus} |filter:search">
            <td><a href="main#/sale/edit/{{::sale.id}}" ng-bind="::sale.id"></a></td>
            <td ng-bind="::sale.customer.name"></td>
            <td class="hide-on-small-only" ng-bind="::sale.seller.name"></td>
            <td ng-bind="::sale.totalValue | currency" ></td>
            <td ng-bind="translate(sale)"></td>
            <td class="hide-on-small-only" ng-bind=":: sale.deliveryDate | date: 'dd/MM/yyyy'"></td>
            <td class="hide-on-small-only" ng-bind="::sale.installments"></td>
            <td>
            <a class="btn-floating blue tooltipped" data-position="top" data-delay="50" data-tooltip="Ver pagamentos em aberto"   ng-click="loadPayments(sale)" ng-show="sale.status == 'APPROVED' " ><i class="material-icons">attach_money</i></a>
            <a class="btn-floating grey  tooltipped" data-position="top" data-delay="50" data-tooltip="Ver pagamentos"  ng-click="loadPayments(sale)" ng-show="sale.status == 'FINISHED' " ><i class="material-icons">attach_money</i></a>
            <a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Aprovar orçamento"  ng-click="approve(sale)" ng-show="sale.status == 'ESTIMATE' "><i class="material-icons">done</i></a>
            <a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Cancelar orçamento"  ng-click="cancelSale(sale)" ng-show="sale.status == 'ESTIMATE' "><i class="material-icons">close</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" ng-show="payment">
    <div class=" card-content">
      <div class="row">
        <div class="col s12 right-align">
          <a class="waves-effect waves-light btn-floating red" ng-click="closePayments()"><i class="material-icons">clear</i></a>
        </div>
        <div class="col s12 m4">
          <strong>Cliente:</strong> <span ng-bind="::salePayment.customer.name"></span>
        </div>
        <div class="col s12 m4 ">
          <strong>Intermediário:</strong> <span ng-bind="::salePayment.seller.name"></span>
        </div>
        <div class="col s12 m4 ">
          <strong>Valor total:</strong> <span ng-bind="::salePayment.totalValue | currency"></span>
        </div>
        <div class="col s12">
          <table class="striped">
          <thead>
            <tr>
              <th data-field="seler">vencimento</th>
              <th data-field="customer">status</th>
              <th data-field="totalValue">Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payment in payments">
              <td ng-bind="::payment.dueDate | date: 'dd/MM/yyyy'"></td>
              <td ng-bind="getCurrentPaymentStatus(payment)"></td>
              <td ng-bind="::payment.totalValue | currency"></td>
              <td>
              <a class="btn-floating green  tooltipped" data-position="top" data-tooltip="Receber pagamento" ng-click="pay(payment)" ng-show="payment.status == 'PENDING' " ><i class="material-icons">done</i></a>
              <a class="btn-floating red tooltipped" data-position="top" data-tooltip="Cancelar pagamento" ng-click="cancel(payment)" ng-show="payment.status == 'PENDING' "><i class="material-icons">clear</i></a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>
    </div>
  </div>


</div>