<div class="container">
	<div class="card">
      <div class="card-content" >
        <div class="row">
          <a href="main#/customer/new" class="btn btn-green">Novo</a>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="search" type="text" ng-model="search">
            <label for="search" class="active">Procurar</label>
          </div>
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="name">Nome</th>
              <th class="hide-on-small-only" data-field="email">E-mail</th>
              <th class="hide-on-small-only" data-field="mobilePhone">Celular</th>
              <th class="hide-on-small-only" data-field="phone">Telefone</th>
              <th class="hide-on-small-only" data-field="observation">Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="customer in customers | filter:search">
              <td><a href="main#/customer/edit/{{customer.id}}" ng-bind="customer.name"></a></td>
              <td class="hide-on-small-only" ng-bind="::customer.email"></td>
              <td class="hide-on-small-only" ng-bind="::customer.mobilePhone"></td>
              <td class="hide-on-small-only" ng-bind="::customer.phone"></td>
              <td class="hide-on-small-only" ng-bind="::customer.observation"></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
</div>